import { EditorNodeProperties, EditorRED } from 'node-red';
import { <%NodeTypePascalCase%>Options } from "../shared/types";

declare const RED: EditorRED;

export interface <%NodeTypePascalCase%>EditorNodeProperties extends EditorNodeProperties, <%NodeTypePascalCase%>Options {}

RED.nodes.registerType<<%NodeTypePascalCase%>EditorNodeProperties>("<%NodeTypeKebabCase%>", {
  category: "function",
  color: "#a6bbcf",
  defaults: {
    name: { value: "" },
  },
  inputs: 1,
  outputs: 1,
  icon: "file.png",
  paletteLabel: "<%NodeLabel%>",
  label: function () {
    return this.name || "<%NodeLabel%>";
  },
});
