import { Node, NodeDef, NodeInitializer } from 'node-red';

export interface <%NodeTypePascalCase%>Options {
  // node options
}

const nodeInit: NodeInitializer = (RED): void => {
  function <%NodeTypePascalCase%>NodeConstructor(this: Node, config: NodeDef & <%NodeTypePascalCase%>Options): void {
    RED.nodes.createNode(this, config);

    this.on("input", (msg, send, done) => {
      send(msg);
      done();
    });
  }

  RED.nodes.registerType("<%NodeTypeKebabCase%>", <%NodeTypePascalCase%>NodeConstructor);
};

export default nodeInit;
